<div style="background-color: lightblue; text-align: center;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Mail : pandyajash2005@gmail.com <br>
    Contact No : +91 x71xx 27xx2
</div>
<div style="text-align: center;"><br>
    <i>All Rights are reserved by Author</i> - <b>Jash Pandya</b> </div>